{
  "item_font_size": 11,
  "outline": true,
  "x": 100,
  "y": 100,
  "main_title": "KARA/KARA-S",
  "y": 240,
  "base_x": 100,
  "menu_title": "System",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ip"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="ip">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "netmask"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="netmask">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "gateway"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="gateway">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "mac address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="mac_address">"}],

  "menu_title": "Test",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "fw version"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="fw_version">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "serial number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="fw_version">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "duplex"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="fw_version">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "offset x"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="fw_version">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "offset y"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="fw_version">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "tray no"},
          {"offset_x": <TMPL_VAR name="c2">, "data": "<TMPL_VAR name="fw_version">"}]
}
