{
  "item_font_size": 9,
  "outline": true,
  "x": 100,
  "y": 100,
  "logo_image": true,
  "main_title": "<TMPL_VAR name="tli_prefix">",
  "y": 240,
  "base_x": 280,
  "menu_title": "Network Information",
  "sub_menu_title": "Wired Connection",
  "item":[{"offset_x": 1200, "barcode": "<TMPL_VAR name="mac_address">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "IP Address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="ip">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "NetMask Address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="netmask">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Gateway Address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="gateway">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "MAC Address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mac_address">"}],
<TMPL_IF name="is_not_china">
  "sub_menu_title": "Wireless Connection",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "IP Address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="wifi_ip">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "NetMask Address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="wifi_netmask">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Gateway Address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="wifi_gateway">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "MAC Address"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="wifi_mac_address">"}],
</TMPL_IF>
  "page_datetime":"<TMPL_VAR name="datetime">",
  "page_number" : "Network Report Page # 1-1"
}
