{
  "item_font_size": 9,
  "outline": true,
  "x": 100,
  "y": 100,
  "logo_image": true,
  "main_title": "<TMPL_VAR name="tli_prefix">",
  "y": 240,
  "base_x": 280,
  "menu_title": "[Machine]",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Serial Number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="serial_no">"}],
  "sub_menu_title": "Cartridge Information",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner">"}],
  "sub_menu_title": "Job by modes",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "1 page"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp1">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "2 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp2">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "3 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp3">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "4 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp4">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "5 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp5">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "6  ~ 10 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp6">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "11 ~ 20 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp11">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "21 ~ 50 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp21">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "51+ pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mp50">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Total"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mptotal">"}],
  "sub_menu_title": "Cartridge History",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner (3K)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner3k">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner (6K)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner6k">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner (9K)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner9k">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner (13K)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner13k">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner & Drum (6K)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerdrum6k">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner & Drum (13K)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerdrum13k">"}],
  "sub_menu_title": "Toner Cartridges",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Oldest"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog1">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog2">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog3">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog4">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog5">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog6">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog7">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog8">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog9">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Newest"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tonerlog10">"}],

  "menu_title": "Software Version",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Kernel version"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="os_version">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "System manager"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fw_version">"}],
<TMPL_IF name="is_tftlcd">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "GUI"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="ps_gui_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Browser"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="ps_browser_ver">"}],
</TMPL_IF>
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "UI manager"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="ui_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Engine process"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="engine_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Database Management system"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="sqlite_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Database Scheme"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="db_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Report generator client"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="report_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "PDL parser"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="pdlp_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "PJL parser"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="pjlp_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "GDI parser"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="gdip_ver">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "<TMPL_VAR name="parser_name">"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="sdhp_ver">"}],
<TMPL_IF name="mseries">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fax App."},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fax_ver">"}],
</TMPL_IF>
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Tray 2 component"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="t2_version">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Tray 3 component"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="t3_version">"}],

  "page_datetime":"<TMPL_VAR name="datetime">",
  "page_number" : "Service Report Page # 1-3",

  "new_page": true,
  "item_font_size": 9,
  "outline": true,
  "x": 100,
  "y": 100,
  "logo_image": true,
  "main_title": "<TMPL_VAR name="tli_prefix">",
  "y": 240,
  "base_x": 280,
  "menu_title": "[Toner Cartridge]",
  "sub_menu_title": "Cartridge Information",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner">"}],
  "sub_menu_title": "Job by modes",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "1 page"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp1">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "2 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp2">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "3 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp3">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "4 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp4">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "5 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp5">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "6  ~ 10 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp6">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "11 ~ 20 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp11">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "21 ~ 50 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp21">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "51+ pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tp50">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Total"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tptotal">"}],
  "sub_menu_title": "Printed by coverage",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "0 ~ 1.24 percent"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tcover0">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "1.25 ~ 2.49 percent"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tcover1">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "2.50 ~ 4.24 percent"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tcover2">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "4.25 ~ 9.99 percent"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tcover4">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "10.0 ~ 49.99 percent"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tcover10">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "50.0 ~ 100 percent"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tcover50">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Total"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tcovertotal">"}],
  "sub_menu_title": "Free motor ON count",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Free motor on"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tfreemotor">"}],

  "menu_title": "-------------------------------------------------------------------------------------",

  "menu_title": "[Drum Cartridge]",
  "sub_menu_title": "Job by modes",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "1 page"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp1">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "2 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp2">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "3 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp3">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "4 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp4">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "5 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp5">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "6  ~ 10 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp6">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "11 ~ 20 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp11">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "21 ~ 50 pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp21">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "51+ pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dp50">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Total"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dptotal">"}],
  "sub_menu_title": "Free motor ON count",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Free motor on"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="dfreemotor">"}],

  "menu_title": "-------------------------------------------------------------------------------------",
  
  "menu_title": "[Total Pages of Old Fuser Units ]",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Oldest"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuserlog1">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuserlog2">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuserlog3">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuserlog4">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuserlog5">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuserlog6">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": " "},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuserlog7">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Newest"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuserlog8">"}],

  "page_datetime":"<TMPL_VAR name="datetime">",
  "page_number" : "Service Report Page # 2-3",

  "new_page": true,
  "item_font_size": 9,
  "outline": true,
  "x": 100,
  "y": 100,
  "logo_image": true,
  "main_title": "<TMPL_VAR name="tli_prefix">",
  "y": 240,
  "base_x": 280,
  "menu_title": "Printer Service",
  "sub_menu_title": "Print Margin Adjust",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="top_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Back-Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="back_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Back-Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="back_top_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "A4-LT Margin Gap"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="a4_lt_margin_gap">"}],
<TMPL_IF name="mseries">
  "sub_menu_title": "Copy(print) Margin Adjust",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="copy_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="copy_top_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Back-Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="copy_back_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Back-Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="copy_back_top_margin">"}],
</TMPL_IF>
  "sub_menu_title": "Print Magnification",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Vertical"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="v_mag">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Horizontal"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="h_mag">"}],
  "sub_menu_title": "Beam Power Adjust",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Percentage"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="beam_adjust">"}],
<TMPL_IF name="mseries">
  "menu_title": "Scanner Service",
  "sub_menu_title": "Scan Margin Adjust",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Flatbed Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_fb_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Flatbed Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_fb_top_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_top_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Back-Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_back_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Back-Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_back_top_margin">"}],
  "sub_menu_title": "Scan Magnification",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Flatbed Vertical"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_fb_v_mag">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Flatbed Horizontal"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_fb_h_mag">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Vertical"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_v_mag">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Horizontal"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_h_mag">"}],
  "sub_menu_title": "Scan Margin Adjust",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Flatbed Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_fb_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Flatbed Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_fb_top_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_top_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Back-Left Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_back_left_margin">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Back-Top Margin"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="scan_adf_back_top_margin">"}],
</TMPL_IF>
  "menu_title": "Fuser Count",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Page count(Fuser)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_fuser">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fuser Reset"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuser_reset_action">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fuser Motor Low"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuser_motor_low">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fuser Motor Normal"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuser_motor_normal">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fuser Checker"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fuser_checker">"}],
  "menu_title": "Motor",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Motor Information"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="motor_info">"}],
  "page_datetime":"<TMPL_VAR name="datetime">",
  "page_number" : "Service Report Page # 3-3"
}
