{
<TMPL_LOOP name="mainloop">
  <TMPL_IF name="ifvarname">
  "new_page": true,
  </TMPL_IF>  
  "item_font_size": 9,
  "outline": true,
  "x": 100,
  "y": 100,
  "logo_image": true,
  "main_title": "<TMPL_VAR name="tli_prefix">",

  "y": 240,
  "base_x": 15,

  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "                                                                  * * * * * * * * * * * * * * * * *"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "                                                                  *          SPAM  FAX  LIST          *"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "                                                                  * * * * * * * * * * * * * * * * *"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": ""},
          {"offset_x": <TMPL_VAR name="c2">, "data": ""}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Station ID"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="StationID">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Station Number"},
          {"offset_x": <TMPL_VAR name="c3">, "data": ": <TMPL_VAR name="StationNum">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": ""},
          {"offset_x": <TMPL_VAR name="c2">, "data": "                                                       <TMPL_VAR name="CurrentTime">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": ""},
          {"offset_x": <TMPL_VAR name="c2">, "data": ""}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "No"},
		  {"offset_x": <TMPL_VAR name="c4">, "data": "Spam Number"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"}],
<TMPL_IF name="nodata">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "No Information"}],
<TMPL_ELSE>
<TMPL_LOOP name="subloop">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "<TMPL_VAR name="Number">"},
		  {"offset_x": <TMPL_VAR name="c4">, "data": "<TMPL_VAR name="SpamNum">"}],
</TMPL_LOOP>
</TMPL_IF>
</TMPL_LOOP>
}
