{
  "item_font_size": 8,
  "outline": true,
  "x": 100,
  "y": 100,
  "logo_image": true,
  "main_title": "<TMPL_VAR name="tli_prefix">",
  "y": 200,
  "base_x": 280,
  "menu_title": "Machine information",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Printer TLI number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tli">"},
          {"offset_x": <TMPL_VAR name="c3">, "barcode": "<TMPL_VAR name="tli">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Printer Serial number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="serial">"},
          {"offset_x": <TMPL_VAR name="c3">, "barcode": "<TMPL_VAR name="serial">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Page count(Total)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_total">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Page count(Host)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_host">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Page count(Report)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_report">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Page count(USB Drive)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_usb">"}],
<TMPL_IF name="mseries">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Page count(Copy)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_copyprint">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Page count(Fax)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_faxprint">"}],
</TMPL_IF>
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Duplex Pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_duplex">"}],
<TMPL_IF name="mseries">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Flatbed Scan Pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_fbscan">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "A3 Scan Pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_a3scan">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Scan Pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_adfscan">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ADF Duplex Scan Pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_adfduplex">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fax Send Pages"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="count_faxsend">"}],
</TMPL_IF>
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "S/W Package version"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="snapshot_version">"},
          {"offset_x": <TMPL_VAR name="c3">, "barcode": "<TMPL_VAR name="snapshot_version">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Total Memory Size"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="mem_total"> MB"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "CPU Clock Speed"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": Quad-core 800 MHz"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Filesystem Free Size"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="fs_used"> MB"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Print Language"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="print_lang">"}],

  "menu_title": "Cartridge information",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner remain life"},
          {"offset_x": <TMPL_VAR name="c2">, "toner_chart": "<TMPL_VAR name="toner_remain">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Drum remain life"},
          {"offset_x": <TMPL_VAR name="c2">, "toner_chart": "<TMPL_VAR name="drum_remain">"}],
<TMPL_IF name="is_tonerdrum">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner & Drum life"},
          {"offset_x": <TMPL_VAR name="c2">, "toner_chart": "<TMPL_VAR name="tonerdrum_remain">"}],
</TMPL_IF>
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner TLI number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner_tli">"},
          {"offset_x": <TMPL_VAR name="c3">, "barcode": "<TMPL_VAR name="toner_tli">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Toner Serial number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner_serial">"},
          {"offset_x": <TMPL_VAR name="c3">, "barcode": "<TMPL_VAR name="toner_serial">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "SWE Drum Assy"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="drum_tli">"},
          {"offset_x": <TMPL_VAR name="c3">, "barcode": "<TMPL_VAR name="drum_tli">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "SWE Drum Serial number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="drum_serial">"},
          {"offset_x": <TMPL_VAR name="c3">, "barcode": "<TMPL_VAR name="drum_serial">"}],
  "menu_title": "Setting",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Print darkness"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="print_darkness">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Setting priority"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="setting_priority">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Powersaving mode time"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="powersave_time"> minutes"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Default Paper Source"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tray_no">"}],
  "sub_menu_title": "Paper Size",
<TMPL_LOOP NAME="traysizeloop">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "<TMPL_VAR name="tray_label"> size"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tray_size">"}],
</TMPL_LOOP>
  "sub_menu_title": "Tray Paper",
<TMPL_LOOP NAME="traytypeloop">
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "<TMPL_VAR name="tray_label"> type"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="tray_type">"}],
</TMPL_LOOP>
  "sub_menu_title": "Paper Type",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Plain Paper"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="Texture_Plain"> texture, <TMPL_VAR name="Weight_Plain"> weight"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "TransParency"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="Texture_Trans"> texture, <TMPL_VAR name="Weight_Trans"> weight"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Paper Label"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="Texture_PaperLB"> texture, <TMPL_VAR name="Weight_PaperLB"> weight"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Vinyl Label"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="Texture_PlasticLB"> texture, <TMPL_VAR name="Weight_PlasticLB"> weight"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Card Stock"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="Texture_Card"> texture, <TMPL_VAR name="Weight_Card"> weight"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Envelope"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="Texture_Envel"> texture, <TMPL_VAR name="Weight_Envel"> weight"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Postcard"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="Texture_Post"> texture, <TMPL_VAR name="Weight_Post"> weight"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Recycled Paper"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="Texture_Recycled"> texture, <TMPL_VAR name="Weight_Recycled"> weight"}],
  "menu_title": "Reference checker",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "TPC (5p)"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="toner_count">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "DLPC"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="drum_count">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "PC Checker"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="pc_checker">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Main Motor"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="main_motor">"}],
  "item_font_size": 9,
  "page_datetime":"<TMPL_VAR name="datetime">",
<TMPL_IF name="mseries">
  "page_number" : "System Report Page # 1-2",
<TMPL_ELSE>
  "page_number" : "System Report Page # 1-1",
</TMPL_IF>

<TMPL_IF name="mseries">
  "new_page": true,
  "item_font_size": 8,
  "outline": true,
  "x": 100,
  "y": 100,
  "logo_image": true,
  "main_title": "<TMPL_VAR name="tli_prefix">",
  "y": 200,
  "base_x": 280,
  "menu_title": "Copy Client Setting",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "No. of copies"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_quantity">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Original size"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_original_size">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Paper source"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_print_src_tray">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Target size"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_print_dest_paper">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Contents"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_prcontents">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Darkness"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_darkness">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Copy density"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_brightness">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Auto density"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_auto_darkness">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Background remove"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_bgremove">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Scale"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_scale">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "N-up"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_nup">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Collate"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_collation">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Duplex"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_duplex">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Quality"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="c_quality">"}],

  "menu_title": "Scan Client Setting",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Where to scan"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_default_dest">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Original size"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_original_size">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Color type"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_color">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Resolution"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_resolution">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "File format"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_fileformat">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "JPEG quality"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_jpeg_quality">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Scan density"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_brightness">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Duplex"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_duplex">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Normal scan wait"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="s_timeout_flatbed"> sec."}],

  "menu_title": "Fax App. Setting",
  "sub_menu_title": "General",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Station ID"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_station_id">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Station number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_station_number">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "ECM"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_ecm">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Line monitor"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_line_monitor">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Volume"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_volume">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Tx alarm"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_tx_alarm">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Rx alarm"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_rx_alarm">"}],

  "sub_menu_title": "Tx Setting",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Original size"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_original_size">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Resolution"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_resolution">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Contents"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_image_type">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Duplex scan"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_duplex_scan">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "TTI"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_tti">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fax density"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_contrast">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Auto density"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_auto_darkness">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Background remove"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_bgremove">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Dial prefix"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_prefix_set">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Dial prefix number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_prefix">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Auto. redial"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_retry_num"> times"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Confidential Tx"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_tx_conf">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Normal scan wait"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_timeout_flatbed"> sec."}],

  "sub_menu_title": "Rx Setting",
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fax forward"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_forward_set">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Fax forward number"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_forward_num">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Confidential Rx"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_rx_conf">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "No. of rings"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_ring_num">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Auto. reduction"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_reduction_sel">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Input tray"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_input_tray">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Print mode"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_print_mode">"}],
  "item":[{"offset_x": <TMPL_VAR name="c1">, "data": "Duplex print"},
          {"offset_x": <TMPL_VAR name="c2">, "data": ": <TMPL_VAR name="f_duplex_print">"}],
  "item_font_size": 9,
  "page_datetime":"<TMPL_VAR name="datetime">",
  "page_number" : "System Report Page # 2-2"
</TMPL_IF>

}
